html {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: "Courgette", cursive;
  background-color: black;
  color: white;
  display: block;
}
