.skills .intro {
  margin-bottom: 30px;
}
a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
}

button {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.skills .skillset .item {
  margin-bottom: 30px;
}

.skills .skillset .level-title {
  font-size: 16px;
  position: relative;
  margin-top: 0;
  margin-bottom: 10;
}

.skills .skillset .level-title .level-label {
  color: #ccd1d6;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Lato', arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
}

.skills .skillset .level-bar {
  height: 15px;
  background: #e8e8e8;
}

.skills .skillset .level-bar-inner {
  height: 15px;
  background: #66cb8c;
}

.skills .svg-inline--fa {
  margin-right: 3px;
  position: relative;
  top: -1px;
}
/* education section */
.education .item {
  margin-bottom: 30px;
}

.education .item:last-child {
  margin-bottom: 0;
}

.education .item .title {
  font-size: 16px;
  margin-top: 0;
}

.education .item .university {
  font-family: 'Lato', arial, sans-serif;
  font-size: 13px;
  color: #999;
  font-weight: 600;
  padding-left: 25px;
}

.education .item .university .year {
  color: #b0b7bf;
  font-weight: 500;
}

.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}

/* Language Section */
.languages .item {
  margin-bottom: 15px;
}

.languages .item .title {
  color: #778492;
}

.languages .item .level {
  color: #999;
}

.languages .item:last-child {
  margin-bottom: 0;
}

.languages .item .svg-inline--fa {
  color: #79d19a;
}

/* Blog Section */
.blog .item {
  margin-bottom: 30px;
}

.blog .item .title {
  font-size: 18px;
  line-height: 1.3;
}

.blog .item .title a {
  color: #778492;
}

.blog .item .title a:hover {
  color: #5f6b77;
}

.blog .item p {
  margin-bottom: 5px;
}

.blog .item:last-child {
  margin-bottom: 0;
}

/* List section */
.list ul li {
  margin-bottom: 10px;
}

.list ul li .svg-inline--fa {
  margin-right: 5px;
}

.list ul li a {
  color: #778492;
}

.list ul li a:hover {
  color: #49515a;
}

/* Credits */
.credits ul li {
  margin-bottom: 10px;
}

.credits ul li .svg-inline--fa {
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.credits ul li a {
  color: #778492;
}

.credits ul li a .svg-inline--fa {
  color: #b0b7bf;
}

.credits ul li a:hover {
  color: #49515a;
}

.credits .btn {
  margin-bottom: 15px;
}

.aside .subheading {
  font-size: 18px;
  color: #545e69;
}

/* ======= Footer ======= */
.footer {
  background: #32383e;
  color: #fff;
  padding: 10px 0;
}

.footer .copyright {
  line-height: 1.6;
  color: #a1aab4;
  font-size: 14px;
}

.footer a {
  color: #fff;
}

.footer .fa-heart {
  color: #fb866a;
}

@media (max-width: 767.98px) {
  .header {
    text-align: center;
  }
  .header .profile-image {
    float: none !important;
    margin: 0 auto;
  }
  .header .profile-content {
    float: none !important;
    text-align: center;
  }
  .header .btn {
    margin-top: 30px;
    float: none !important;
  }
  .project-image {
    margin-bottom: 15px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1360px;
    max-width: inherit;
  }
}
